body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
.group1 {
  font-variant: small-caps;
  color: black;
  background-color: aquamarine;
  text-align: justify;
}


